.button-icon{
  cursor: pointer;
  user-select: none;
  transition: all .1s ease;
  border-radius: 99px;
}

.container-main{
  margin: 0 auto;
  max-width: 1600px;
  @media screen and (max-width:1600px){
    max-width: 1100px;
  }
}

.hide{
  display: none!important;
  opacity: 0!important;
  height: 0px!important;
  overflow: hidden!important;
}

.p4{
  padding: 4px 6px;
}
.p6{
  padding: 6px 8px;
}
.p10{
  padding: 10px 12px;
}

.py4{
  padding-top:4px;
  padding-bottom: 4px;
}
.py6{
  padding-top:6px;
  padding-bottom: 6px;
}
.py8{
  padding-top:8px;
  padding-bottom: 8px;
}
.py10{
  padding-top:10px;
  padding-bottom: 10px;
}

.px4{
  padding-left:4px;
  padding-right: 4px;
}
.px6{
  padding-left:6px;
  padding-right: 6px;
}
.px8{
  padding-left:8px;
  padding-right: 8px;
}
.px10{
  padding-left:10px;
  padding-right: 10px;
}

.swiper-button-next, .swiper-button-prev{
  &::after{
    color:black;
  }
}