//? -----------------------Dark Pallete-----------------------
$dark1: #8C8C8C;
$dark2: #828282;
$dark3: #787878;
$dark4: #6E6E6E;
$dark5: #646464;
$dark6: #5A5A5A;
$dark7: #505050;
$dark8: #464646;
$dark9: #3C3C3C;
$dark10: #323232;
$dark11: #282828;
$dark12: #1E1E1E;
$dark13: #141414;
$dark14: #0A0A0A;
$dark15: #010101;

//? -----------------------Gray Pallete-----------------------
$gray1: #CCCCCC;
$gray2: #C2C2C2;
$gray3: #B9B9B9;
$gray4: #AFAFAF;
$gray5: #A6A6A6;
$gray6: #9C9C9C;
$gray7: #939393;
$gray8: #898989;
$gray9: #808080;
$gray10: #767676;
$gray11: #6D6D6D;
$gray12: #636363;
$gray13: #595959;
$gray14: #505050;
$gray15: #464646;

//? -----------------------Blue Pallete-----------------------
$blue1: #C6D9FF;
$blue2: #ADC8FF;
$blue3: #93B6FF;
$blue4: #7AA5FF;
$blue5: #6093FF;
$blue6: #4772FF;
$blue7: #2D60FF;
$blue8: #1450FF;
$blue9: #0040FF;
$blue10: #0036E6;
$blue11: #002CBD;
$blue12: #0021A3;
$blue13: #001779;
$blue14: #000D4F;
$blue15: #000425;

//? -----------------------White Pallete-----------------------
$white1: #FFFFFF;
$white2: #F2F2F2;
$white3: #E6E6E6;
$white4: #D9D9D9;
$white5: #CCCCCC;
$white6: #BFBFBF;
$white7: #B3B3B3;
$white8: #A6A6A6;
$white9: #999999;
$white10: #8C8C8C;
$white11: #808080;
$white12: #737373;
$white13: #666666;
$white14: #595959;
$white15: #4D4D4D;

//? -----------------------Red Pallete-----------------------
$red1: #FFCCCC;
$red2: #FFB2B2;
$red3: #FF9999;
$red4: #FF7F7F;
$red5: #FF6666;
$red6: #FF4C4C;
$red7: #FF3333;
$red8: #FF1919;
$red9: #FF0F0F;
$red10: #FF0505;
$red11: #E60000;
$red12: #CC0000;
$red13: #B20000;
$red14: #990000;
$red15: #7F0000;

//? -----------------------Green Pallete-----------------------
$green1: #CCFFCC;
$green2: #B2FFB2;
$green3: #99FF99;
$green4: #7FFF7F;
$green5: #66FF66;
$green6: #4CFF4C;
$green7: #33FF33;
$green8: #19FF19;
$green9: #0FFF0F;
$green10: #05FF05;
$green11: #00E600;
$green12: #00CC00;
$green13: #00B200;
$green14: #009900;
$green15: #007F00;

//? -----------------------Yellow Pallete-----------------------
$yellow1: #FFFFCC;
$yellow2: #FFFFB2;
$yellow3: #FFFF99;
$yellow4: #FFFF7F;
$yellow5: #FFFF66;
$yellow6: #FFFF4C;
$yellow7: #FFFF33;
$yellow8: #FFFF19;
$yellow9: #FFFF0F;
$yellow10: #FFFF05;
$yellow11: #E6E600;
$yellow12: #CCCC00;
$yellow13: #B2B200;
$yellow14: #999900;
$yellow15: #7F7F00;


//! -----------------------Others-----------------------

//? -----------------------Main Pallete-----------------------

$orange: #FF5733;     /* Turuncu */
$yellow: #FFBD33;     /* Sarı */
$lime: #DBFF33;       /* Yeşil Sarı */
$light_green: #33FFB2; /* Açık Yeşil */
$light_blue: #337CFF; /* Açık Mavi */
$blue: #6533FF;       /* Mavi */
$purple: #B833FF;     /* Mor */
$pink: #FF33D6;       /* Pembe */
$red: #FF3362;        /* Kırmızı */
$dark_pink: #FF3387;  /* Koyu Pembe */
$mid_blue: #3379FF;   /* Orta Mavi */
$light_cyan: #33D4FF; /* Açık Cyan */
$light_green2: #33FFA5; /* Açık Yeşil */
$neon_green: #33FF40; /* Neon Yeşil */
$light_turquoise: #33FF8F; /* Açık Turkuaz */

//? -----------------------Primary Pallete-----------------------
$primary_red: #FF5733;       /* Primary Kırmızı */
$primary_blue: #337CFF;      /* Primary Mavi */
$primary_green: #33FFB2;     /* Primary Yeşil */
$primary_yellow: #FFBD33;    /* Primary Sarı */
$primary_purple: #B833FF;    /* Primary Mor */

//? -----------------------Danger Pallete-----------------------
$danger_red: #FF3362;        /* Danger Kırmızı */
$danger_orange: #FF5733;     /* Danger Turuncu */
$danger_yellow: #FFBD33;     /* Danger Sarı */
$danger_green: #33FFB2;      /* Danger Yeşil */
$danger_purple: #B833FF;     /* Danger Mor */

//? -----------------------Warning Pallete-----------------------
$warning_yellow: #FFD700;    /* Uyarı Sarı */
$warning_orange: #FFA500;    /* Uyarı Turuncu */
$warning_red: #FF6347;       /* Uyarı Kırmızı */
$warning_blue: #1E90FF;      /* Uyarı Mavi */
$warning_green: #32CD32;     /* Uyarı Yeşil */

//? -----------------------Success Pallete-----------------------
$success_green: #008000;     /* Başarılı Yeşil */
$success_blue: #4169E1;      /* Başarılı Mavi */
$success_cyan: #00CED1;      /* Başarılı Cyan */
$success_purple: #800080;    /* Başarılı Mor */
$success_yellow: #FFFF00;    /* Başarılı Sarı */
